@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

@font-face {
  font-family: "Bulletto";
  src: url(../fonts/Bulletto\ Killa.ttf);
}

@font-face {
  font-family: "Chopin";
  src: url(../fonts/ChopinScript.ttf);
}

* {
  font-family: "Playfair Display", serif;
}

/* Reset some default styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(134, 111, 82, 0.5);
  border-radius: 2px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.brown-bg {
  position: absolute;
  z-index: 2;
}

.page-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 100%;
  background-color: rgba(244, 226, 206, 1);
}

.brown-bg {
  filter: drop-shadow(10px -5px 10px rgba(0, 0, 0, 0.5));
  left: -6%;
}

.title {
  font-family: "Playfair Display", serif;
  font-style: italic;
  position: absolute;
  z-index: 3;
  color: rgba(244, 226, 206, 1);
  font-size: 40px;
  margin: 0;
  padding: 0;
  left: 1.3%;
  margin-top: 5px;
}

nav {
  position: absolute;
  z-index: 3;
  right: 3%;
  top: 1%;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  white-space: nowrap;
}

.about {
  margin-right: 50px;
  margin-left: 50px;
  width: 79px;
}

nav a {
  text-decoration: none;
  color: rgba(244, 226, 206, 1);
  position: relative;
  text-decoration: none;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: rgba(244, 226, 206, 1);
  bottom: 0;
  left: 0;
  transition: width 0.5s ease;
}

nav a:hover::after {
  width: 100%;
}

.twelve {
  position: relative;
  left: 5vh;
}
.twelve h1 {
  position: absolute;
  font-weight: 700;
  letter-spacing: 1px;
  width: 160px;
  text-align: center;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 18px;
}
.twelve h1:before {
  background-color: rgb(245, 227, 207);
  content: "";
  display: block;
  height: 3px;
  width: 70px;
  margin-bottom: -6.2px;
  margin-left: 8px;
}
.twelve h1:after {
  background-color: rgba(244, 226, 206, 1);
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 90px;
  margin-bottom: 0.4em;
  margin-right: -120px;
}

.content {
  position: absolute;
  height: 80vh;
  width: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  top: 28vh;
  left: 8vh;
}

.product-name {
  font-family: "Roboto Slab", sans-serif;
  position: absolute;
  z-index: 3;
  color: rgba(244, 226, 206, 1);
  font-size: 125px;
  margin: 0;
  top: 2%;
}

.disc {
  font-family: "Playfair Display", serif;
  position: absolute;
  text-align: center;
  font-size: 32px;
  font-weight: lighter;
  color: rgba(244, 226, 206, 1);
  z-index: 3;
  margin: 0;
  top: 29%;
  left: 15vh;
}

.disc2 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 25px;
  position: absolute;
  z-index: 3;
  color: rgba(244, 226, 206, 1);
  margin: 0;
  top: 30vh;
  left: 25vh;
}

/* Add this CSS for the fade-in effect */
.product-name,
.disc,
.disc2 {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  left: 1.3%;
  box-sizing: content-box;
  transform: translateX(20%);
  transition: transform 0.5s ease;
}

@media (max-width: 1025px) {
  body {
    overflow-x: hidden;
  }

  .title {
    font-size: 28px;
    left: 1.3%;
    margin-top: 5px;
  }

  .twelve {
    left: -4vh;
  }

  .twelve h1 {
    padding-bottom: 13px;
  }

  .twelve h1:before {
    margin-left: 0px;
  }

  .twelve h1:after {
    margin-right: -50px;
  }

  nav li {
    font-size: 15px;
  }
  .about {
    margin-right: 12px;
    margin-left: 30px;
    width: 79px;
  }
}
